.main-page {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr
}
.main-page div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.main-page div a {
    width: 70px;
}
.main-page a:hover {
    background-color: rgb(27, 148, 255);
    color: white;
    margin-top: -3px;
}