.admin-nav li {
    display: inline-block;
    margin: 10px;
}
.admin-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.admin-nav a:hover {
    background-color: rgb(27, 148, 255);
    color: white;
    margin-top: -3px;
}