.register form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.register form input,
.register form button,
.register form p {
    padding: 10px 20px;
}
.register form p {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.register form button {
    margin-top: 20px;
}
